.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Match-body */

.Won{
  background-color: #a3cfec;

}

.Won-Text{
  color: #1a78ae
}
.Lost{
  background-color: #e2b6b3;

  
}
.Lost-Text{
  color: #c6443e;
}


/* Icons */

.champIcon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.ItemsBracket {
  min-width: 128px;
}
.itemIcon {
  border-radius: 25%;
  height: 32px;
  width: 32px;
}

.champIcon-mini {
  height: 16px;
  width: 16px;
}


/* Leagues */

.rankIcon {
  height: 100px;
  width: 100px;
}

/* Rest */
.text-center {
  margin: 0 auto;
  text-align: center;
  flex: 1
}

.centered {
  margin: auto; max-width: 230px;
}

.single {
  margin: auto; max-width: 100px;
}

hr {
  width: 40%;
}

.vertical-align {
  flex: 1;
  vertical-align: middle;
}

p {
  flex: 1
}

/* Matches */

.teams {
  position: relative;
  left: 20px;
}

.td-team {
  width: 246.25px;

}

.matchHistory {
  width: 900px;
  font-size: 11px;
}

.table td, .table th {
  vertical-align: middle !important;
}

.position {
  position: absolute;
  z-index: 1;
  left: 65px;
  top: 75px;
  height: 25px;
  width: 25px;
}