.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Match-body */
.Won{
  background-color: rgb(204, 216, 252);
}
.Lost{
  background-color: rgb(247, 238, 238);
}

.card-body:hover {
  background-color: rgb(231, 228, 228);
}
/* Icons */

.champIcon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.itemIcon {
  border-radius: 25%;
}

/* Leagues */

.rankIcon {
  height: 100px;
  width: 100px;
}

.centered {
  margin: auto; max-width: 230px;
}

.single {
  margin: auto; max-width: 100px;
}