.App {
  text-align: center;
  background-image: url("assets/3840x2160-final-boss-veigar-lol-splash-art-league-of-legends_1574097790.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%; /* Resize the background image to cover the entire container */
  height: 2650px;
  width: 100%;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 140px;
  border-radius: 25%;
  margin-bottom: 30px;
}

.nav-logo {
  height: 40px;
  border-radius: 50%;
  margin: -10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Match-body */

.Won{
  background-color: #a3cfec;
  border-color: #99b9cf;
  border-style: solid;
  border-width: 2px;
}


.Won-Text{
  color: #1a78ae
}
.Lost{
  background-color: #e2b6b3;
  border-color: #cea7a7;
  border-style: solid;
  border-width: 2px;
  
}
.Lost-Text{
  color: #c6443e;
}

.Great-Text {
  color: 	#ffc45d;
}

.matches {
  border-collapse:separate; 
  border-spacing: 0em .5em;
  padding-bottom: 1em;  
}
/* Icons */

.champIcon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 5px;
}


.ItemsBracket {
  min-width: 128px;
}
.itemIcon {
  height: 32px;
  width: 32px;
  margin: 1px;
}

.summonerIcon {
  border-radius: 25%;
  height: 32px;
  width: 32px;
}

.perkIcon {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  position: relative;
  bottom: 8px;
}
.champIcon-mini {
  height: 20px;
  width: 20px;
  margin: 2px;
}

.champIcon-mastery {
  height: 64px;
  width: 64px;
}


.mastery-icon {
  height: 48px;
  width: 48px;
  position: relative;
  right: 86px;
  top: 25px;
}


/* Leagues */

.rankIcon {
  margin-top: -50px;
  margin-bottom: 20px;
  height: 100px;
  width: 100px;
}

.summoner-stats {
  margin-bottom: 25px;
}

/* Rest */
.text-center {
  margin: 0 auto;
  text-align: center;
  flex: 1
}

.centered {
  margin: auto; max-width: 230px;
}

.single {
  margin: auto; max-width: 100px;
}

hr {
  width: 40%;
}

.vertical-align {
  flex: 1;
  vertical-align: middle !important;          ;
}

p {
  flex: 1
}

/* Matches */

.teams {
  position: relative;
  left: 20px;
  width: 250px;
}


.td-team {
  width: 246.25px;
  position: relative;
  left: -51px;
}

.td-items {
  position: relative;
  left: -51px;
}
.td-champ {
  position: relative;
  left: -50px;
}

.td-score {
  position: relative;
  left: -51px;
}
.matchHistory {
  width: 900px;
  font-size: 11px;
  display:inline-block
}

.table td, .table th {
  max-width: 320px;
  vertical-align: middle !important;
  border: none;
}

.table-bordered td, .table-bordered th {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.position {
  position: absolute;
  z-index: 1;
  left: 45px;
  top: 90px;
  height: 25px;
  width: 25px;
}

.empty {
  padding-top: 6px !important;
  padding: 0px !important;
}

.champ {
  width: 205px;
}

.perks-container {
  position: relative;
  top: 45%;
}

.padding-top {
  padding-top: 10px !important;
}

.mastery-container {
  width: 100%;

}

/* Summoner */
.Summoner-Pfp {
  margin-top: 100px;
  max-width: 250px;
  max-height: 250px;
  min-width: 250px;
  min-height: 250px;
  border-radius: 50%;
}

.Summoner-Icon {
  margin-top: 100px;
  max-width: 400px;
  max-height: 400px;
  min-width: 250px;
  min-height: 250px;
  position: relative;
  bottom: 425px;
  margin-bottom: -400px;
}

.level-text {
  position: relative;
  bottom: 118px;
  font-size: 10pt;
  color: blueviolet;
  margin-bottom: -200px;
}

.summoner {
  margin-bottom: 30px;
  color: aliceblue;
}

.name {
  margin-top: -25px;
  margin-bottom: 35px;
  font-size: 24pt;
}

@media only screen and (min-width: 1368px) {
  .mastery-container {
    min-width: 250px;
    max-width: 17%;
    /* display:inline-block; */
    float: right;
    margin-top: 5px;
    margin-right: 15%;
  }


  .mastery-icon {
  height: 48px;
  width: 48px;
  position: relative;
  right: 18px;
  top: -25px;
}
}
@media only screen and (min-width: 1865px) {


  .mastery-text {
    position: relative;
    right: 25px;
  }

  .mastery-icon {
    right: 80px;
    top: 25px;
  }
  
}

@media only screen and (max-width: 880px) {
  .teams {
    position: relative;
    left: 20px;
    width: 250px;
  }
  
  .td-champ{
    position: relative;
    left: -29px;

  }

  .td-queue {
    font-size: 8pt;
    min-width: 120px;
  }

  .td-score {
    font-size: 7pt;
    position: relative;
    top: 164px;
    min-width: 167px;
    left: -350px;
  }
  .td-items {
    position: relative;
    top: 164px;
    min-width: 170px;
    left: -366px;

  }
  .td-team {
    position: relative;
    top: 331px;
    left: -686px;

    min-width: 320px;
  }

  .matches {
    border-collapse:separate; 
    border-spacing: 0em 330px;
    padding-bottom: 1em;  
    /* width: 50% !important; */
  }
  .won {
    width: 400px;
  }

}

@media only screen and (max-width: 575px) {
  input {
    max-width: 150px;
  }
}

@media only screen and (max-width: 475px) {
  .app-title {
font-size: 8pt;
  }
}

.show {
  opacity: 1;
  transition: opacity 1000ms;
}

.hide {
  opacity: 0;
  transition: opacity 200ms;
}

.form-search {
  position: absolute;
  right: 25px;
}

.landing {
  position: relative;
  top: 100px;
  color: whitesmoke;
}

.app-title {
  position: relative;
  left: 15px;
}