.footer {
  position: relative;
  bottom: 18px;
  background: #343a40;
}

@media only screen and (min-width: 1368px) {
  .footer {
    position: absolute;
    bottom: -1600px;
    background: transparent;
  }
}

.landing-footer {
  position: absolute;
  bottom: -1630px;
  background: transparent;
}